{% extends "base.html" %}

{% block body %}
{{super()}}
<br>
<iframe id="ytplayer" type="text/html" width="640" height="390" style="display:none;"
  src="http://www.youtube.com/embed?listType=playlist&list=PLR5Eudl_p7C2KhkOz6G7KCh81DNx7yuwT"
  frameborder="0"></iframe>

    <script>
      // This code loads the IFrame Player API code asynchronously.

      function embedPlaylist() {
        stopSpinner();
        url = 'http://www.youtube.com/embed?listType=playlist&list=' + playlistId + '&autoplay=1';
        var player = $('#ytplayer');
        player.attr('src', url);
        player.css('display', 'inline');
      }

      function refreshPlayerURL() {
        embedPlaylist();
        //TODO reload after first song finishes and start on second song
      }

      // function loadPlayerAPI(){
      //   var tag = document.createElement('script');
      //   tag.src = "https://www.youtube.com/iframe_api";
      //   var firstScriptTag = document.getElementsByTagName('script')[0];
      //   firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      // };

      // // This function creates an <iframe> (and YouTube player)
      // // after the API code downloads.
      // var player;
      // function onYouTubeIframeAPIReady() {
      //   player = new YT.Player('player', {
      //     height: '390',
      //     width: '640',
      //     videoId: 'WSUFzC6_fp8',
      //     //videoId: 'listType=playlist&list=' + playlistId,
      //     //list: playlistId,
      //     //listType: 'playlist',
      //     events: {
      //       'onReady': onPlayerReady,
      //     }
      //   });
      // }

      // // The API will call this function when the video player is ready.
      // function onPlayerReady(event) {
      //   //cueVideos(playlistItems);
      //   cueVideos();
      //   console.log(playlistId);
      //   event.target.playVideo();
      // }

      // function cueVideos() {
      //   player.cuePlaylist(playlistId);
      // }

      // function cueVideos(playlistItems){
      //   var playlistArray = [];
      //   for (index in playlistItems){
      //     playlistArray.push(playlistItems[index].snippet.resourceId.videoId)
      //   }
      //   player.cuePlaylist(playlistArray);
      // }
  
    </script>

{% endblock %}